<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/Main.css">
		<link rel='stylesheet' media='screen and (min-width: 1081px) and (max-width: 1200px)' href='stylesheets/MainTablet.css' />
		<link rel='stylesheet' media='screen and (min-width: 1px) and (max-width: 1080px)' href='stylesheets/MainMobile.css' />
		<title>About</title>
		
		<style>
			body {
    			background: url("images/BlexField5.jpg") repeat scroll 0 0 transparent;
				background-size: cover;
			}
		</style>
		
	</head>
	<body>
		<div class="boxed">
  			<h2><center>Welcome to Our University</center></h2>
  			<a href="/">
	 			<img src="images/UniversityLogo.jpg" style="width:15%;">
  			</a>
  			<h3 class = "info"> Address: 249 Elizabeth Avenue<br/> Phone: +1(709)200-3543</h3>
		</div>
		
		<a href="/"><h1 class="bar"> Main </h1></a>
		<a href="/BlexfieldCampus"><h1 class="bar"> Blexfield </h1></a>
		<a href="/MilmoreCampus"><h1 class="bar"> Milmore </h1></a>
		<a href="/PreviousCourses.html"><h1 class="bar"> Previous Courses </h1></a>
		<a href="/Student"><h1 class="bar"> Student</h1></a>
		
		<img src="images/About.jpg" style="width:100%;">
	
		<blockquote class="note"> As Newfoundland and Labrador's only university, We are devoted to excellence
		    in teaching, learning and research and to develop leaders in many disciplines
		    who make a difference globally. Federal University of Newfoundland(FUN) is a 
		    place without limits and we aren't afraid to ask bigger questions, to get better answers.
		    <br><br>
		    Established in 1885, the Federal University of Newfoundland(FUN) with two campuses, averages 
		    an enrolment of approximately 14,400 undergraduate and 3,500 graduate students every year.
		    FUN has more than 85,000 alumni around the world.
		    <br><br>
		    In Newfoundland and Labrador we offer nearly 100 full-time degree programs and more than 
		    300 part-time courses.
		 </blockquote>
		 
		<div class="footer">
			<h3><center>Copyright @ 2017 Federal University of Newfoundland.</center></h3>
		</div>
	</body>
</html>
