<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/Main.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/Blexfield.css">
		<link rel='stylesheet' media='screen and (min-width: 1081px) and (max-width: 1200px)' href='stylesheets/BlexfieldTablet.css' />
		<link rel='stylesheet' media='screen and (min-width: 1px) and (max-width: 1080px)' href='stylesheets/BlexfieldMobile.css' />
		<title>Blexfield Campus</title>
		
		<style>
		body {
   	   	    background: url("images/BlexField5.jpg") repeat scroll 0 0 transparent;
			background-size: cover;
		}
		</style>
		
	</head>
	<body>
		<div class="boxed">
  			<a href="/">
	 			<img src="images/UniversityLogo.jpg" style="width:15%;">
  			</a>
  			<h3 class = "info"> Address: 249 Elizabeth Avenue<br/> Phone: +1(709)200-3543</h3>
		</div>
		
		<a href="/"><h1 class="bar"> Main </h1></a>
		<a href="/BlexfieldCourses"><h1 class="bar"> Blexfield Courses </h1></a>
		<a href="/MilmoreCampus"><h1 class="bar"> Milmore </h1></a>
		<a href="/PreviousCourses"><h1 class="bar"> Previous Courses </h1></a>
		<a href="Student"><h1 class="bar"> Student</h1></a>
		
		<h1>Blexfield Campus</h1>
		<img src="images/BlexField3.jpg" style="width:100%">
		<p class="capital" >The province's capital city, Blexfield, is home to the Blexfield campus which offers a full range of academic programs in a modern, 
		urban setting. Our largest campus is home to teaching and research facilities for FUN's six faculties and six schools and serves as the university's administrative hub. </p>
		<h2>Campus Map</h2>
		<a href ="/BlexFieldDirections"><h3>Get Directions</h3></a>
		<a href= "images/BlexfieldMap2.jpg" >
		<img src="images/BlexfieldMap2.jpg" style="width:100%">
		</a>
		<h2>School Buildings</h2>
		<a href= "images/BlexField5.jpg">
		<img src="images/BlexField5.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField6.jpg">
		<img src="images/BlexField6.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField7.jpg">
		<img src="images/BlexField7.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField8.jpg">
		<img src="images/BlexField8.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField9.jpg">
		<img src="images/BlexField9.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField10.jpg">
		<img src="images/BlexField10.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField11.jpg">
		<img src="images/BlexField11.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField12.jpg">
		<img src="images/BlexField12.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField13.jpg">
		<img src="images/BlexField13.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField14.jpg">
		<img src="images/BlexField14.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField15.jpg">
		<img src="images/BlexField15.jpg" width="440" height="290"/>
		</a>
		<a href= "images/BlexField16.jpg">
		<img src="images/BlexField16.jpg" width="440" height="290"/>
		</a>
		<div class="footer">
			<h3><center>Copyright @ 2017 Federal University of Newfoundland.</center></h3>
		</div>
</body>
</html>
